@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

*,
::before,
::after {
    box-sizing: inherit;
    border-width: 0;
    border-style: none;
    border-color: transparent;
}

html {
    width: 100vw;
    scroll-snap-type: both mandatory;
    scroll-behavior: smooth;
}

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
    max-width: 100vw;
}

@media screen and (max-width: 1024px) {
    html,
    body {
        width: max-content;
        scroll-snap-type: none;
    }
}

* {
    cursor: none;
}

*::-webkit-scrollbar {
    display: none;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

.link {
    position: relative;
    text-transform: uppercase;
    font-weight: 700;
}

.mobile-link {
    font-size: 1.5rem;
}

.link::after {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: rgb(var(--foreground-rgb));
    transition: width 0.3s ease-out;
}

.link:hover::after {
    width: 100%;
}

.active::after {
    width: 100%;
}

p > svg {
    width: 84px;
    height: 84px;
    fill: white;
}

.alone {
    margin-top: 200px;
    color: #9393e9;
}

@media screen and (max-width: 1024px) {
    .alone {
        line-height: 100px;
        margin: 100px;
    }
}

.peaceful {
    color: lightblue;
}

.energy {
    color: orange;
}

.outside {
    color: green;
}

.whiteBackground {
    background-color: white;
    color: #1f1f1f;
}

.blackBackground {
    background-color: #1f1f1f;
    color: white;
}

@keyframes smileAnimation {
    0%,
    100% {
        d: path('M 40 70 Q 50 80 60 70');
    }
    50% {
        d: path('M 30 65 Q 50 85 70 65');
    }
}
.animate-smile {
    animation: smileAnimation 2s ease-in-out infinite;
}
@media (max-width: 640px) {
    svg {
        width: 50px;
        height: 50px;
    }
}

/* add a background to transparent and black images */

.svg-container {
    position: relative;
    display: inline-block;
}

.svg-container::before {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(50px);
    background: radial-gradient(circle, white -100%, transparent 55%);
    z-index: -1;
    pointer-events: none;
}

.svg-image {
    position: relative;
}
